html, body {
  margin: 0;
  padding: 1%;
  font-family: sans-serif;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

body {
  background: #eeeeee;
}

h3, select {
  padding: 0;
  margin: 0;
}

table {
  margin: auto;
}

td {
  margin: 0;
  padding: 10px;
}

#chart {
  max-width: 80vw;
  min-height: 320px;
  margin: 5vh auto;
}
